/*UTILITY*/
.floatleft { float: left; }
.floatright { float: right; }

body { margin: 0; font-family: Verdana, sans-serif; color: rgb(100,100,100); }

/*STRUCTURE*/
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
header { width: 100%; height: 60px; background: rgb(100,100,100); padding: 5px 0; margin-bottom: 5px; }
	#logo { width: 200px; height: 60px; background: rgb(200,200,200); }
	nav { float: left; margin-left: 340px; }
	nav li { display: inline; margin-right: 20px; font-weight: bold; font-size: 18px; }
	nav li a { color: rgb(255,255,255); text-decoration: none; }
	nav li a:hover { color: rgb(150,150,150); text-decoration: underline; }
	.button { width: 150px; height: 30px; background: linear-gradient(#c8c8c8, #969696); text-align: center; padding: 15px 5px 5px; margin: 5px 5px 0 0; border: 1px solid rgb(150,150,150); border-radius: 5px; cursor: pointer; }
	.button a { color: rgb(100,100,100); text-decoration: none; }
	.button:hover { background: linear-gradient(#969696, #c8c8c8); }

section.hero { width: 100%; height: 400px; background: url(bgplaceholder.jpg); background-size: 100% 100%; padding: 5px 0; margin-bottom: 5px; }
	.heroimage { width: 480px; height: 380px; background: rgb(150,150,150); float: left; margin: 10px 0 0 20px; }
	.herocontent { width: 400px; float: left; margin-left: 20px; padding-top: 40px; }
	section.hero h1 { font-size: 30px; margin-bottom: -10px; }
	section.hero p { margin-bottom: 60px; }
	section.hero .button { width: 225px; height: 40px; padding-top: 25px; font-size: 20px; }

section.portfolio { width: 940px; height: 350px; background: rgb(220,220,220); margin: 0 auto 5px; padding: 5px 0; }
	section.portfolio h2 { font-size: 25px; text-align: center; margin-bottom: -20px; }
	section.portfolio h4 { font-weight: normal; text-align: center; margin-bottom: 60px; }
	section.portfolio aside { width: 286px; height: 200px; float: left; text-align: center; margin-left: 20px; }
	section.portfolio aside img { width: 100%; height: 150px; background: rgb(200,200,200); }

section.organize { width: 100%; height: 260px; background: rgb(220,220,220); padding: 5px 0; margin-bottom: 5px; }
	section.organize img, section.share img { width: 440px; height: 225px; float: left; margin-left: 20px; margin-top: 20px; background: rgb(200,200,200); }
	.organizecontent, .sharecontent { float: left; margin-left: 20px; width: 440px; }

section.share { width: 940px; height: 260px; background: rgb(220,220,220); margin: 0 auto 5px; padding: 5px 0; }

section.get { width: 100%; height: 100px; background: rgb(100,100,100); padding: 5px 0; margin-bottom: 5px; }
	section.get h2 { font-size: 30px; color: rgb(255,255,255); margin-right: 60px; margin-top: 30px; }	
	section.get .button { margin-right: 60px; margin-top: 25px; }

footer { width: 100%; height: 60px; background: rgb(200,200,200); padding: 5px 0; text-align: center; }

.container { width: 940px; height: 100%; margin: 0 auto;}

.form {font-size: 15px;}

section.features { width: 940px; height: 350px; background: rgb(220,220,220); margin: 0 auto 5px; padding: 5px 0; }
section.features h2 { font-size: 25px; text-align: center; margin-bottom: -20px; }
section.features h4 { font-weight: normal; text-align: center; margin-bottom: 60px; }
section.features aside { width: 286px; height: 200px; float: left; text-align: center; margin-left: 20px; }
section.features aside img { width: 100%; height: 150px; background: rgb(200,200,200); }